# =========================
# Entornos virtuales
# =========================
.venv311/
venv/
.env/

# =========================
# Python cache
# =========================
# __pycache__/
# *.py[cod]
# *$py.class

# # =========================
# # Jupyter
# # =========================
# .ipynb_checkpoints/

# # =========================
# # PyTorch / ML
# # =========================
# *.pt
# *.pth
# *.ckpt

# # =========================
# # Datos grandes / temporales
# # =========================
# data/
# *.csv
*.zip

# # =========================
# # Logs y outputs
# # =========================
# *.log
# outputs/
# results/

# # =========================
# # IDEs
# # =========================
# .vscode/
# .idea/

# # =========================
# # Sistema operativo
# # =========================
# .DS_Store
# Thumbs.db.venv311/
